<!DOCTYPE html>
<html>
  <head>
    <!--like> rel = "style sheet"</like-->
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Index</h1>
    <p> I love programming </p>
    <img> src= "https://www.macleans.ca/wp-content/uploads/2017/03/MAR13_BIG_DUCK_POST01.jpg">
  </body>
</html>